<% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

<%= content_tag :div, class: 'accessForm' do  %>
  <h1 class="accessTitle">Log in to Kit</h1><br>

  <span class="accessLink">Don't have an account? <%= link_to 'Signup!', '/signup' %></span><br><br>

  <%= render 'users/access_form' %><br>

  <%= link_to('Log in with Github!', '/auth/github', id: 'githubLogin') %><br><br>

<% end %>
