Create new room

<div id="form">
    <%= form_for @room, html: { id: "new_room_form" } do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, id: "input" %>
        <%= f.submit "create" %>
    <% end %>
</div><br>



Show all the rooms here

<ul>
    <% @rooms.each do |room| %>
        <li><%= room.name %><hr></li>
    <% end %>
</ul>