Create new channel <%= link_to 'home', user_path(@user) %>

<div id="form">
    <%= form_for ([@user, @room]), html: { id: "new_room_form" } do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, id: "input" %>
        <%= f.submit "create" %>
    <% end %>
</div><br>



Show all the channels here

<ul>
    <% @rooms.each do |room| %>
        <% if !room.slug.include?("#{@user.name}")%>
            <li><a href="/rooms/<%= room.id %>"><%= room.name %></a><hr></li>
        <% end %>
    <% end %>
</ul>