<!DOCTYPE html>
<html>
  <head>
    <title>Kit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="nav-bar">

      <h1><%= @user.name %></h1>
      <span><%= link_to 'settings', '#', :onclick => 'showSettings(event);' %></span><br>
      <span><%= link_to 'logout', '/logout' %></span><br><br>

      <%= link_to "Channels", '#', :onclick => 'showChannelForm(event);' %><br>

      <div id="channelForm"></div>

      <ul id="channels">
        <% @user.rooms.each do |room| %>
          <% if !room.name.include?('kit') %>
            <%= link_to room.name, '#', :onclick => 'showMessages(event);', :data => { :id => "#{room.name}", :class => "channels" } %><hr><br>
          <% end %>
        <% end %>
      </ul><hr>

      <%= link_to "Direct Message", search_path %><hr><br>

      <ul id="contacts">
        <% @user.rooms.each do |room| %>
          <% room.users.each do |user| %>
            <% if user.name != @user.name %>
              <%= link_to user.name, '#', :onclick => 'showMessages(event);', :data => { :id => "#{room.name}", :class => "contacts" }%><hr><br>
            <% end %>
          <% end %>
        <% end %>
      </ul>

    </div>

    <%= yield %>
    
  </body>
</html>
