<!DOCTYPE html>
<html>
  <head>
    <title>Kit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="nav-bar">

      <h1 id="username" data-id="<%= @user.id %>"><%= @user.name.capitalize %></h1>

      <div id="nav-links">
        <%= link_to 'settings', '#', :onclick => 'showSettings(event);' %><br>
        <%= link_to 'logout', '/logout' %><br><br>
      </div>

      <div id="channelLinks">
        <%= link_to "Channels", search_path(query: 'channels'), class: 'nav-links' %><%= link_to "+", '#', :onclick => 'showChannelForm(event);', class: 'nav-links' %> 
      </div>

      <div id="channelForm"></div>

      <ul id="channels">
        <% @user.rooms.each do |room| %>
          <% if !room.name.include?('kit') %>
            <li><%= link_to room.name, '#', :onclick => 'showMessages(event);', :data => { :id => "#{room.name}", :class => "channels" } %> <%= link_to 'x', '#', :onclick => 'deleteRoom(event);', :data => { :id => "#{room.name}", :class => "channels"}, :class => 'deleteButton' %><li><br>
          <% end %>
        <% end %>
      </ul>

      <div id="dmLinks">
        <%= link_to "Direct Message", search_path(query: 'direct'), class: 'nav-links' %> <%= link_to '+', search_path(query: 'direct'), class: 'nav-links' %>
      </div>

      <ul id="contacts">
        <% @user.rooms.each.uniq do |room| %>
          <% room.users.each.uniq do |user| %>
            <% if user.name != @user.name && room.name.include?('kit') %>
              <li><%= link_to user.name, '#', :onclick => 'showMessages(event);', :data => { :id => "#{room.name}", :class => "contacts" }%><%= link_to 'x', '#', :onclick => 'deleteRoom(event);', :data => { :id => "#{room.name}", :class => "contacts"}, :class => 'deleteButton' %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>

    </div>

    <%= yield %>
    
  </body>
</html>
